/* General */
body {
    background: rgba(0, 0, 0, 0) url("http://k31.kn3.net/taringa/3/4/8/3/1/2/9/pazitos10/bg.jpg?2441") repeat scroll 0 50px;
}

@font-face {
    font-family: 'Slim Jim'; /*a name to be used later*/
    src: url('../fonts/SlimJim.ttf'); /*URL to font*/
}
.contenido{
	width: 100%;
}

.nav-taringa{
	background-color: #1977E8;
	border-color: #1977E8;
}

.nav-taringa .navbar-nav > .active > a, .nav-taringa .navbar-nav > .active > a:focus, .nav-taringa .navbar-nav > .active > a:hover{
	background-color: #055ABF;
	color: #fff;
} /*Active things in nav - Don't touch :) */

.nav-taringa .navbar-brand{
	color:white;
}

.nav-taringa .navbar-brand:hover{
	background-color: #055ABF;

}
.navbar-brand {
    font-family: 'Slim Jim';
    font-size: 35px;
}

.nav-taringa .navbar-nav > li > a:focus, .nav-taringa .navbar-nav > li > a:hover {
    background-color: #055ABF;
    color: #fff;
}

.nav-taringa .navbar-nav > li > a{
	color:#fff;
	font-weight: bold;
}

.badge{
	margin-left: 5px;
	background-color: #5699E9;
}

.panel{
	margin: 10 auto;
	min-height: 100px;
	min-width: 500px;
	width: 600px; 
	position: relative;
	background-color: #FEFEFE;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	height: auto;
	margin-bottom: 10px;
}

.panel-default .panel-heading{
	background-color: #FEFEFE;
}

.shout-panel{
	margin-top: 10px;
}

.shout{
	padding-right: 15px;
	border-right: 1px dashed #dddddd;
}

.shout-page{
	width: 915px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background-color: #FEFEFE;
}

.btn-primary-inverse{
	border: 1px solid #337ab7;
}

.btn-primary-inverse:hover, .btn-primary-inverse:hover span{
	color:white;
	background-color: #337ab7;
}


/* Shout Header*/

.user-avatar{
	float:left !important;
	border: 1px solid #EFEFEF;
	border-radius: 4px;
	display:inline-block;
}

.user-info{
	margin-left: 10px;
	display: inline-block;
	height: 40px;
}

.shout-options{
	margin: 10 15 0 0;
}


/* Shout Content */
.panel-body{
	clear:both;
	min-height: 130px;
}

.shout-content{
	margin: 40 5 40 5;
}


/* Shout Footer */
.panel-footer{
	min-height: 10px;
	margin: 10 0 10 0;
	position:absolute;
	padding: 0 0 0 0;
	width: 98%;
	bottom:0;
	left: 1%;
	background-color: #FEFEFE;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}

.shout-info{
	padding-left: 10px;
	padding-bottom: 10px;
}

#opciones{
	float: right !important;
	margin-right: 10px;
}

#opciones a{
	color: gray;
}

.op{
	min-width: 40px;
	min-height: 30px;
	display: inline-block;
	color:gray;	
}

.op span{
	margin-right: 2px;
}

.op-open span:hover, .op-open span:active{
	color: black;
}

.op-fav span:hover, .op-fav span:active{
	color: #F0AF6E;
}

.op-like span:hover, .op-like span:active{
	color: green;
}

.op-reshout span:hover, .op-reshout span:active{
	color: #9B23D7;
}

.op-extra{
	color:gray;
}



#tipo-shout {
	font-family: sans-serif;
	float: left !important;
	padding-top: 10px;
}

.timestamp{
	font-size: 12px;
	color: gray;
}

#tipo-shout {
	margin-left: 10px;
	margin-right: 10px;
}

/* Comments */
#comment-panel{
	min-width: 500px;
	height: auto;
	width: 580px;
	margin-left: 10px;
	margin-top: -25px;
	position: inherit;
}

#new-comment{
	min-height: 190px;
}

.list-group{
	height: auto;
	margin-bottom: 0px;
}

.list-group-item{
	border-top: 2px solid #DFDFDF;
	border-right: none;
	border-left: none;
	border-bottom: none;
}

.list-group-item:first-child{
	border-top: none;
}

.comment-text{
	margin-top: 10px;
}

/* Shout Author */

.shout-author img{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}


.author-img{
	display: inline-block;
	margin-right: 10px;	
}

.author-info{
	margin-top: 10px;
	display: inline-block;
	line-height: 20px;
}

.value{
	margin-left: 5px;
}


.followers{
	color: #138BD2;
}

.score{
	color: #E79B07;
}

.shouts{
	color:#DA08B9;
}

.sex{
	color: #157DD3;
}

.shout-options{
	margin-top: 30px;
	margin-left: 10px;
	height: 50px;
	width: 50px;
}

.author-nick{
	color:#006595;
	margin-left: 35px;
	margin-top: 5px;
	font-size: 16px;
}

.contenido{
	margin-top: 50px;
}