/* General */
.panel{
	margin: 10 auto;
	min-height: 100px;
	min-width: 500px;
	width: 300px; 
	position: relative;
	font-family: Verdana;
	background-color: #FEFEFE;
	border: 1px solid #EFEFEF;
	border-radius: 5px;
}

.panel-default .panel-heading{
	background-color: #FEFEFE;
}

.shout-panel{
	margin-top: 10px;
}


/* Shout Header*/
.panel-heading{
	border-top-width: 0px;
	border-bottom-width: 0px;
	padding: 5 10 0 10;
	min-height: 20px;
	width: 100%;
	border-top-style: solid;
	border-top-color: #FEFEFE; 
}

.user-avatar{
	border: 1px solid #EFEFEF;
	border-radius: 5px;
}

.shout-options{
	margin: 10 15 0 0;
}


/* Shout Content */
.panel-body{
	clear:both;
	min-height: 180px;
}

.shout-content{
	margin: 40 5 40 5;
}


/* Shout Footer */
.panel-footer{
	min-height: 30px;
	margin: 10 0 10 0;
	position:absolute;
	padding: 0 0 0 0;
	width: 100%;
	bottom:0;
	left: 0;
	background-color: #FEFEFE;
	border-top-style: solid;
	border-top-color: #FEFEFE; 	
}

#opciones{
	float: right !important;
}

#opciones a{
	color: gray;
}

.op{
/*	margin-top: 10px;
*/	min-width: 40px;
	min-height: 30px;
	display: inline-block;
	color:gray;	
}


.op-open span:hover, .op-open span:active{
	color: black;
}

.op-fav span:hover, .op-fav span:active{
	color: #F0AF6E;
}

.op-like span:hover, .op-like span:active{
	color: green;
}

.op-reshout span:hover, .op-reshout span:active{
	color: #9B23D7;
}

.op-extra{
	color:gray;
}

.shout-info{
	padding-left: 10px;
	padding-bottom: 10px;
}

#timestamp, #tipo-shout {
	font-family: sans-serif;
	float: left !important;
	padding-top: 10px;
}

#timestamp{
	padding-top: 13px;
	font-size: 10px;
}

#tipo-shout {
	margin-left: 10px;
	margin-right: 10px;
}

/* Comments */
#comment-panel{
	min-height: 190px;
	min-width: 450px;
	height: 190px;
	width: 450px;
	margin-left: 25px;
}

